                 @import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light|Oswald|Permanent+Marker|Montserrat");
                 body {
                     margin: 0;
                     background-color: hsl(0, 0%, 0%);
                 }
                 
                 html,
                 h1,
                 h2,
                 p {
                     font-family: "Shadows Into Light", cursive;
                     color: #5aeb3a;
                     font-size: 20px;
                 }
                 
                 main>div>section>header>h2,
                 footer>div>nav>p {
                     color: #5aeb3a;
                     text-align: center;
                     margin: 0;
                     padding: 5px;
                     font-family: "Oswald", sans-serif;
                     font-size: 40px;
                     text-align-last: auto;
                 }
                 
                 main>div>section {
                     color: #5aeb3a;
                     text-align: center;
                     margin-left: -200%;
                     width: 500%;
                     border-bottom: 3px solid hwb(57 9% 14%);
                     font-size: 20px;
                     text-align-last: auto;
                 }
                 
                 .fit-picture {
                     text-align: center;
                     width: 75px;
                     height: 150px;
                 }
                 
                 header>div>h1 {
                     color: red;
                     text-align: center;
                     font-size: 60px;
                     margin: 0;
                     font-family: "Permanent Marker", cursive;
                 }
                 
                 header>div>nav {
                     color: #5aeb3a;
                     margin: 0px;
                     text-align: center;
                     font-size: 40px;
                 }
                 
                 header>div>nav>a {
                     padding: 0 15px 10px 20px;
                     font-size: 40px;
                     text-decoration: none;
                     font-family: "Montserrat", sans-serif;
                     color: hsl(83, 61%, 51%);
                     text-align: center;
                 }
                 
                 header>div>nav>a:hover {
                     color: #5aeb3a;
                     text-align: center;
                     font-size: 40px;
                 }
                 
                 nav,
                 div {
                     word-wrap: normal;
                     color: #5aeb3a;
                     width: 600px;
                     margin: auto;
                     text-align: center;
                 }
                 
                 nav:after {
                     color: #5aeb3a;
                     content: "";
                     display: table;
                     clear: both;
                 }
                 
                 main>div>section>p {
                     word-wrap: normal;
                     color: #5aeb3a;
                     text-align: center;
                     font-size: 21px;
                     text-align-last: auto;
                 }
                 
                 main>div {
                     color: #5aeb3a;
                     overflow: hidden;
                     border: 3px solid hsla(338, 39%, 89%, 0.64);
                     padding: 12px;
                     background-color: hsl(0, 87%, 3%);
                     text-align: center;
                     font-size: 40px;
                 }
                 
                 footer>div>nav>p {
                     color: #5aeb3a;
                     font-size: 20px;
                 }
                 
                 main>div>section>footer>p {
                     color: #5aeb3a;
                     font-size: 19px;
                 }
                 
                 hr {
                     text-align: center;
                     word-spacing: 0%;
                 }
                 
                 main>div>section>article>p {
                     text-align: left;
                     color: #5aeb3a;
                     font-size: 19px;
                     margin-right: 200%;
                 }
                 
                 main>div>section>article>header {
                     text-align: center;
                     color: #5aeb3a;
                     font-size: 40px;
                 }