@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light|Oswald|Permanent+Marker|Montserrat");
body {
    margin: 0;
    background-color: hsl(0, 0%, 0%);
}

html,
h1,
h2,
p {
    font-family: "Shadows Into Light", cursive;
    color: DarkRed;
    font-size: 12px;
}

main>div>article>section>header>h2 {
    color: #5aeb3a;
    font-size: 18px;
}

main>div>article>section>p {
    font-size: 12px;
}

main>div>article>section>header>h2,
main>div>article>section p,
footer>div>nav>p {
    text-align: center;
    margin: 0;
    padding: 5px;
    font-family: "Oswald", sans-serif;
}

main>div>article {
    overflow: visible;
}

main>div>article>section {
    margin-left: -200%;
    width: 500%;
    border-bottom: 3px solid hwb(57 9% 14%);
}

.fit-picture {
    width: 150px;
}

header>div>h1 {
    text-align: center;
    font-size: 50px;
    margin: 0;
    font-family: "Permanent Marker", cursive;
}

header>div>nav {
    margin: 0px;
}

header>div>nav>a {
    padding: 0 15px 10px 20px;
    font-size: 16px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: hsl(83, 61%, 51%);
}

header>div>nav a:hover {
    color: hsl(69, 67%, 53%);
}

nav,
div {
    width: 300px;
    margin: auto;
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

main>div>article>section p {
    color: hsl(69, 81%, 55%);
}

main>div {
    overflow: hidden;
    border: 3px solid hsla(338, 39%, 89%, 0.64);
    padding: 12px;
    background-color: hsl(0, 87%, 3%);
}

footer>div>nav>p {
    color: #668284;
    font-size: 12px;
}

main>div>article>section>footer>p {
    font-size: 12 px;
}

hr {
    text-align: center;
}